# Thug configuration file

delay=120
referer=http://www.google.com
proxy=socks4://127.0.0.1:9050
verbose=no
debug=no
adobepdf=9.1.0
shockwave=10.0.64.0
javaplugin=1.6.0.32
useragent=winxpie70

# Available User-Agents
# winxpie60               Internet Explorer 6.0   (Windows XP)
# winxpie61               Internet Explorer 6.1   (Windows XP)
# winxpie70               Internet Explorer 7.0   (Windows XP)
# winxpie80               Internet Explorer 8.0   (Windows XP)
# winxpchrome20           Chrome 20.0.1132.47     (Windows XP)
# winxpfirefox12          Firefox 12.0            (Windows XP)
# winxpsafari5            Safari 5.1.7            (Windows XP)
# win2kie60               Internet Explorer 6.0   (Windows 2000)
# win2kie80               Internet Explorer 8.0   (Windows 2000)
# win7ie80                Internet Explorer 8.0   (Windows 7)
# win7ie90                Internet Explorer 9.0   (Windows 7)
# win7chrome20            Chrome 20.0.1132.47     (Windows 7)
# win7safari5             Safari 5.1.7            (Windows 7)
# osx10safari5            Safari 5.1.1            (MacOS X 10.7.2)
# osx10chrome19           Chrome 19.0.1084.54     (MacOS X 10.7.4)
