<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SpamCan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Spam trap management framework">
    <meta name="author" content="Glastopf Project">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico?v=2" />
    <link href="/static/css/font-awesome.css" rel="stylesheet" >
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" >
    
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

    </style>

    <script src="/static/js/jquery-1.9.1.js"></script>
    <script src="/static/js/utils.js"></script>

  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/"><i class="icon-home"></i> Home</a></li>
          <li><a href="/mails"><i class="icon-envelope"></i> Mailbox</a></li>
          <li><a href="/files"><i class="icon-file-alt"></i> Files</a></li>
          <li><a href="/urls"><i class="icon-money"></i> URLs</a></li>
          <li><a href="https://github.com/glastopf/spamcan"><i class="icon-github"></i> Repository</a></li>
        </ul>
        <h1>SpamCan <small>Management Framework</small></h1>
      </div>

    <hr>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

	  <hr>

      <div class="footer">
      	<p>&copy; <i class="icon-github"></i><a href="https://github.com/glastopf"> Glastopf Project</a> (2013)</p>
      </div>

    </div> <!-- /container -->

    <script src="static/js/bootstrap.min.js"></script>

  </body>
</html>
