<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SpamCan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Spam trap management framework">
    <meta name="author" content="Glastopf Project">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico?v=2" />
    <link href="static/css/font-awesome.css" rel="stylesheet" >
    <link href="static/css/font-awesome.min.css" rel="stylesheet" >
    
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

    </style>
    <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
    <script src="static/js/utils.js"></script>

  </head>

  <body>

	<div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="https://github.com/glastopf/spamcan">Repository</a></li>
        </ul>
        <h1>SpamCan <small>Management Framework</small></h1>
      </div>

      <hr>
      
      <div class="btn-group">
		  <button class="btn btn-large">Fetch Emails</button>
		  <button class="btn btn-large">Crawl URLs</button>
		  <button class="btn btn-large">Submit URLs</button>
		  <button class="btn btn-large">Submit Binaries</button>
	  </div>
      
      <hr>
      
      <div class="row-fluid">
      
        <div class="span12">
          <table class="table table-striped">
              <thead>
			    <tr>
			      <th>ID</th>
			      <th>User Name</th>
			      <th>Mail Count</th>
			      <th>Server Name</th>
			      <th>Protocol</th>
			      <th>Update</th>
			    </tr>
			  </thead>
          	  <tbody>
		          {% for account in account_list %}
			          <tr>
			            <td>{{ account.account_id }}</td>
			            <td><b>{{ account.user_name }}</b></td>
			            <td><span class="badge" id="count">{{ account.count }}</span></td>
			            <td>{{ account.hostname }}</p></td>
			            <td>{{ account.protocol }}</p></td>
			            <td><button class="btn btn-small btn-primary" type="submit" id="get_stats" value="{{ account.account_id }}">Counts</button></td>
			          <tr>
		          {% endfor %}
	          </tbody>
          </table>
        </div>
      </div>

      <hr>
      
      {% if error is not none %}
            <span class="label label-warning">{{ error }}</span>
      {% endif %}
      <hr />
      <form class="form-inline" method="POST" action="/add_account">
		  <input class="span2" type="email" class="input-small" placeholder="Email" name="user_name" />
		  <input type="password" class="input-small" placeholder="Password" name="password" />
		  <input class="span2" type="text" class="input-small" placeholder="Hostname" name="hostname" />
		  <select class="span1" name="protocol">
			  <option>imap</option>
			  <option>pop</option>
		  </select>
		  <input type="text" class="input-small" placeholder="SMTP Host" name="smtp_host" />
		  <button type="submit" class="btn btn-primary">Add</button>
	  </form>

	  <hr>

      <div class="footer">
      	<p>&copy; <i class="icon-github"></i><a href="https://github.com/glastopf"> Glastopf Project</a> (2013)</p>
      </div>

    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

  </body>
</html>