{% extends "base.html" %}
{% block content %}
  <table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Account</th>
      <th>Subject</th>
      <th>Sender</th>
    </tr>
  </thead>
  <tbody>
  {% for mail in mail_list %}
      <tr>
        <td><a href="/mail/{{mail._id}}">{{mail._id}}</a></td>
        <td>{{mail._source.mailbox}}</td>
        <td>{{mail._source.subject}}</td>
        <td>{{mail._source.sender}}</td>
      </tr>
  {% endfor %}
  </table>
{% endblock %}
